# data/
data/OpenImages/
data/VisualGenome/

ckpts/
weights/
runs/
results/
logs/
wandb/
lightning_logs/
lib/fpn/box_intersections_cpu/

__pycache__/
*.pyc

*.pth
*.pt
*.ckpt

.env
.venv/
*.zip
*.tar
*.tar.gz
core.*

*.json.resume
.ddp_eval_cache/
